{% extends "layout.html" %}
{% block content %}
    <h1 class="heading">Lambda School Labs</h1>
    <h2 class="highlight">Project Bandersnatch v0.0.1 Basic</h2>
    <h3>Tech Stack</h3>
    <ul>
        <li>Business Logic: Python3</li>
        <li>Framework: Flask</li>
        <li>Templates: Jinja2</li>
        <li>Layouts: HTML5</li>
        <li>Styles: CSS 3</li>
        <li>Database: CSV</li>
        <li>Graphs: Altair</li>
        <li>RNG Engine: Fortuna</li>
        <li>Random Monsters: MonsterLab</li>
    </ul>
    <h3>Data Science Developer Team</h3>
    <ul>
        <li>Robert Sharp: Systems Designer, Product Visionary, Dev Ops</li>
        <li>Eugene Albright: Machine Learning Engineer</li>
        <li>April Fairweather: Data Analyst, Data Engineer</li>
        <li>Thackery Binx: API Engineer, ML Ops</li>
    </ul>
    <blockquote>
        <p>This is an example Flask app created to showcase the techniques
            used to create dynamic, interactive, efficient web apps with live
            data science components. This app is intended to be used as a
            teaching resource. Act now, use at your own risk, valid only while
            supplies last, void where prohibited, and most of all - enjoy!</p>
        <cite>Robert Sharp</cite>
    </blockquote>
{% endblock %}
