{% extends "layout.html" %}
{% block content %}
    <h1 class="heading">Dynamic Monster Viewer</h1>
    {% if graph_json %}
        <h2 class="highlight">Interactive Graph of Live Data</h2>
        <form id="form" method="post" action="{{ url_for('view') }}">
            <p><label>Filter:
                <select name="rarity">
                    {% for op in ["All", "Rank 0", "Rank 1", "Rank 2", "Rank 3", "Rank 4", "Rank 5"] %}
                        {% if op == rarity %}
                            <option selected="selected">{{ op }}</option>
                        {% else %}
                            <option>{{ op }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </label></p>
            <p><label>X-axis:
                <select name="x_axis">
                    {% for op in ["Health", "Energy", "Sanity"] %}
                        {% if op == x_axis %}
                            <option selected="selected">{{ op }}</option>
                        {% else %}
                            <option>{{ op }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </label></p>
            <p><label>Y-axis:
                <select name="y_axis">
                    {% for op in ["Health", "Energy", "Sanity"] %}
                        {% if op == y_axis %}
                            <option selected="selected">{{ op }}</option>
                        {% else %}
                            <option>{{ op }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </label></p>
            <p><label>Target:
                <select name="target">
                    {% for op in ["Rarity", "Level"] %}
                        {% if op == target %}
                            <option selected="selected">{{ op }}</option>
                        {% else %}
                            <option>{{ op }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </label></p>
            <button type="submit" id="submit" name="submit">Generate Chart
            </button>
            <br class="clear"/>
        </form>
        <div id="chart">
            <script src="https://cdn.jsdelivr.net/npm/vega@5.20.2"></script>
            <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.8.1"></script>
            <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.0.0"></script>
            <div id="graph"></div>
            <script type="text/javascript">
                vegaEmbed('#graph', {{ graph_json | safe }});
            </script>
        </div>
    {% endif %}
{% endblock %}
